:root {
  --purple: #B3A7FE;
  --offWhite: #EFEFE6;
  --brown: #5A594E;
  --yellow: #F9DF6D;
  --green: #9FC35A;
  --blue: #B1C4EF;
  --violet: #BA81C5;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem
}

button {
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 1rem 2rem;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 1rem;
}

button:active {
  transform: scale(0.9);
  background-color: var(--brown);
  color: #ffffff;
}

button:disabled {
  border: 1px solid grey;
  color: grey;
  
}

.button-container {
  display: flex;
  justify-content: center;
  width: 80vw;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.create-button {
  margin-bottom: 1rem;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 200px));
  height: 50vh;
  max-width: 830px;
  gap: 10px;
}

.box {
  background-color: var(--offWhite);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  transition: transform 0.5s ease;
  /* word-break: break-all;
  word-wrap: break-word; */
  white-space: nowrap;
  padding: 1rem;
}

.toggled {
  background-color: var(--brown);
  color: #ffffff;
}

.connection-div {
  grid-column-start: span 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.connection-div-header {
  font-weight: 700;
  font-size: 1.7rem;
}

.connection-div-content {
  font-size: 1.5rem;
}

.message-board, .guesses-remaining {
  padding: 1rem;
  font-size: 1.4rem;
}

.history-row {
  display: flex;
}

.history-square {
  width: 30px;
  height: 30px;
  margin: 2px 3px;
  border-radius: 5px;
}

.history-square.group1 {
  background-color: var(--yellow);
}

.history-square.group2 {
  background-color: var(--green);
}

.history-square.group3 {
  background-color: var(--blue);
}

.history-square.group4 {
  background-color: var(--violet);
}

.grid-container.shuffling {
  animation: shuffle 0.3s ease-in-out infinite;
}

@keyframes shuffle {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(20px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

.alert {
  width: 80vw;
  max-width: 800px;
  height: 30vh;
  position: absolute;
  background-color: var(--purple);
  color: #ffffff;
  border-radius: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.alert>h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.create-form {
  height: 90vh;
  width: 90vw;
  max-width: 1000px;
  position: absolute;
  background-color: var(--purple);
  border-radius: 10px;
  top: 4rem;
  display: none;
  justify-content: center;
  align-items: center;
  color: #000000;
}

label {
  font-size: 1.3rem;
}

input {
  border: none;
  font-size: 1rem;
  padding: 1rem 0.4rem;
}

input:focus {
  outline: none;
}

.overall-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-form h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

.create-form h1 {
  text-align: center;
}

.connection-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connection-container input {
  width: 20vw
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-submit {
  width: 20vw;
  margin-top: 2rem;
}

@media screen and (max-width: 850px) {
  .grid-container{
    grid-template-columns: repeat(4, minmax(50px, 100px));
    /* height: 40vh; */
    max-width: 430px;
  }
  .box {
    font-size: 1.1rem;
  }
  .alert {
    width: 50vw;
    height: 10vh;
  }
  .alert>h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .box {
    font-size: 1rem;
  }
  button {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }

  .connection-div-header {
    font-size: 1rem;
  }

  .connection-div-content {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  .box {
    font-size: 0.6rem;
  }

  button {
    font-size: 0.6rem;
  }

  .message-board, .guesses-remaining {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .alert {
    height: 10vh;
  }

  .alert>h2 {
    font-size: 0.8rem;
    white-space: wrap;
  }
}

@media screen and (max-height: 500px) {
  .grid-container {
    max-height: 300px;
  }
  
  .box {
    font-size: 0.6rem;
    padding: 0 0.5rem;
  }

  button {
    font-size: 0.6rem;
    padding: 0.4rem;
  }

  .message-board, .guesses-remaining {
    font-size: 1rem;
    padding: 0.2rem;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 0.2rem;
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

