* {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

.grid-container{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 800px;
  width: 800px;
  gap: 10px;
}

.box {
  background-color: lightgray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: teal;
  cursor: pointer;
}

.toggled {
  background-color: rgb(112, 103, 103);
  color: aliceblue;
}

.correct.group1 {
  background-color: green;
  color: aliceblue;
}

.correct.group2 {
  background-color: blueviolet;
  color: aliceblue;
}

.correct.group3 {
  background-color: silver;
  color: aliceblue;
}

.correct.group4 {
  background-color: fuchsia;
  color: aliceblue;
}

.history-row {
  display: flex;
}

.history-square {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.history-square.group1 {
  background-color: blue;
}

.history-square.group2 {
  background-color: seagreen;
}

.history-square.group3 {
  background-color: firebrick;
}

.history-square.group4 {
  background-color: lightcoral;
}

.connection-div {
  grid-column-start: span 4;

}